@font-face {
  font-family: bernadette;
  src: url(../assets/ttf/bernadette_rough.ttf);
}

:root {
  --bs-principal: #5a504a;
  --bs-secundario: #666665;
  --bs--tmenu: #f5f5f5;
}

.bg-principal {
  background-color: var(--bs-principal);
}

.bg-secundario {
  background-color: var(--bs-secundario) !important;
}

.navbar-brand {
  font-family: bernadette, arial;
}

.text-menu {
  color: var(--bs--tmenu) !important;
}

.sb-sidenav-menu-heading {
  color: rgba(245, 245, 245, 0.5) !important;
}

.sb-nav-link-icon {
  color: rgba(245, 245, 245, 0.75) !important;
}
